@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');
* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
  /* border: 0.25px solid rgba(3, 3, 3, 0.219); */

}

html {
    font-size: 62.5%; 
    margin-top: 0;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(3, 20, 36, 0.95);
    font-weight: 300;
    line-height: 1;
    margin: 0;
    padding: 0; 
    overflow-x: hidden;
}

/* HTML5 display-role reset for older browsers */
p {
  margin-bottom: 1rem;
  line-height: 140%;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  color: black;
  font-weight: 300;
  letter-spacing: 0.3px;
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5 
{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.05rem;
  font-weight: 400;
  line-height: 1.3;
  color: black;
  margin: 0;
  padding: 0; 
}

.grecaptcha-badge {
  visibility: hidden;
  opacity: 0;
  transition: linear opacity 1s;
  }

  .grecaptcha-badge.showgr {
    visibility: visible;
    opacity: 1;
    transition: linear opacity 1s;
  }

  @keyframes animatedBackground {
    from{
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes animatedText {
    from{
      opacity: 0;
      transform: translateY(15px)
    }
    to{
      opacity: 1;
      transform: translateY(0px);
    }
  }


/* DESKTOP */
.main-container{
      width: 100vw;
      height: 100vh;
      background-color: rgb(182, 182, 182);
      background-image: linear-gradient(rgba(3, 20, 36, 0.95), rgba(3, 20, 36, 0.95)), url(images/background_image_1.png);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      animation: animatedBackground 1.5s ease-in-out;
}

/* TABLET */

/* SAMSUNG GALAXY S10 */
@media only screen and (max-width: 430){
  .main-container{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(3, 20, 36, 0.95), rgba(3, 20, 36, 0.95)), url(images/background_image_1_small.png);
    background-repeat: no-repeat;
    background-position: 60% 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: animatedBackground 1.5s ease-in-out;

  }
}



.title_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title_wrapper img{
    height:200px;
    width: auto;
    margin-bottom: 1rem;
    animation: animatedText .5s ease-out;

  }
  
  @media only screen and (max-width: 430px){
    .title_wrapper img{
      height:150px;
      width: auto;
      margin-bottom: 2rem;
      animation: animatedText .5s ease-out;

  }
} 


.header{
    color: white;
    font-size: 5.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    text-align: center;
    animation: animatedText .5s ease-out;
  }
  
  @media only screen and (max-width: 430px){
    .header{
      color: white;
      font-size: 2.5rem;
      text-align: center;
      font-weight: 600;
      margin-bottom: 0.5rem;
      animation: animatedText .5s ease-out;
    }
    
  }
  
  .sub-header{
    color: #F9AC64;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 3rem;
    text-align: center;
    animation: animatedText .5s ease-out;
  }
  
  @media only screen and (max-width: 430px){
    .sub-header{
      color: #F9AC64;
      font-size: 1.6rem;
      font-weight: 500;
      margin-bottom: 5rem;
      animation: animatedText .5s ease-out;
    }
  }
  
.button{
    background-color: #F9AC64;
    padding: 1.5rem 3rem;
    font-size: 1.65rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.2s ease;
    animation: animatedText .5s ease-out;

  }
  
  a {
    text-decoration: none;
    margin-bottom: 5rem;
  }

a .button {
    color: rgba(3, 20, 36, 0.95);
}

a .button:hover{
    background-color: #ffcd9e;
    font-weight: 700;
}

.partners_logos{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.partners_logos img{
  opacity: .7;
  height: 65px;
  width: auto;
}

@media only screen and (max-width: 430px){
  
.partners_logos img{
  opacity: .7;
  height: 45px;
  padding: 0 2rem;
  width: auto;
}

}


.partners_title{
  display: flex;
  flex-direction: row;
  align-items:center;
}

.partners_title .line{
  background-color: rgba(255, 255, 255, 0.7);
  width: 22.5rem;
  height: 2px;
}

@media only screen and (max-width: 430px){
  .partners_title .line{
    background-color: rgba(255, 255, 255, 0.7);
    width: 50%;
    height: 2px;
  }
  
}

.partners_title p{
  color: rgba(255, 255, 255, 0.7);
  font-size: 2rem;
  margin: 2rem 2rem;
}


/* ------------------------ */
/* WORDPRESS CONTACT FORM 7 */
/* ------------------------ */

.wp-block-contact-form-7-contact-form-selector
{
  height: 70%;
  width: 25%;
}

@media only screen and (max-width: 430px){
  .wp-block-contact-form-7-contact-form-selector
  {
    height: 100%;
    width: 100%;
    padding: 0 2rem;
  }
  

}
.form-container
{
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(3, 20, 36, 0.95), rgba(3, 20, 36, 0.95)), url(images/background_image_1.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  animation: animatedBackground 1.5s ease-in-out;
}

@media only screen and (min-width: 430px){
  .form-container
{
  background-image: linear-gradient(rgba(3, 20, 36, 0.95), rgba(3, 20, 36, 0.95)), url(images/background_image_1_small.png);
}
}

.wpcf7
{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wpcf7-form{

}


.wpcf7-form h1{
  color: white;
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.wpcf7-form input{
  padding: 1.5rem 1.5rem;
  margin: 1rem 0;
  border-radius: 5px;
  /* width: 100%; */
}

.wpcf7-form-control{
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

.wpcf7-list-item{
  margin-left: 0;
}

.wpcf7-form h4{
  color: white;
  font-size: 1.9rem;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.wpcf7-list-item label{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  color: white;
  width: 100%;
}
.wpcf7-list-item span{
  margin-left: 1rem;
  width: 100%;
}


.wpcf7-form .wpcf7-submit{
  font-family: montserrat, sans-serif;
  background-color: #F9AC64;
  width: 100%;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1.6rem;
  transition: all 0.2s ease;
  cursor: pointer;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

.wpcf7-form .wpcf7-submit:hover{
  background-color: #ffcd9e;
  font-weight: 700;
}


.wpcf7-not-valid-tip
{
  font-size: 1.2rem;
  color: #F9AC64;
}

.wpcf7 form .wpcf7-response-output
{
  margin: 0;
  padding: 2rem;
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
  text-align: center;
  border: none;
  line-height: 1.4;
}

/* --------------------------- */
/* WORDPRESS SUCCESS POST FORM */
/* --------------------------- */

.success-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(3, 20, 36, 0.95), rgba(3, 20, 36, 0.95)), url(images/background_image_1.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  animation: animatedBackground 1.5s ease-in-out;

}


@media only screen and (min-width: 430px){
  .success-container
  {
    background-image: linear-gradient(rgba(3, 20, 36, 0.95), rgba(3, 20, 36, 0.95)), url(images/background_image_1_small.png);
  }
}

.success-container img{
  height: 20rem;
}

.success-container h1{
  font-size: 6rem;
  font-weight: 500;
  color:white;
}
.success-container p{
  font-size: 3rem;
  font-weight: 500;
  color:#F9AC64;
  text-align: center;
}

@media only screen and (max-width: 430px){
  .success-container img{
    height: 15rem;
    margin-bottom: 2rem;
  }
  

  .success-container h1{
    font-size: 4rem;
    font-weight: 500;
    color:white;
  }
  .success-container p{
    font-size: 2rem;
    width: 70%;
    font-weight: 500;
    color:#F9AC64;
    text-align: center;
  }
}


.recaptcha-text{
  color: white;
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 25%;
  font-size: 1.2rem;
}

@media only screen and (max-width: 430px){
  .recaptcha-text{
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    padding: 0 2rem;

  }
  
}

.recaptcha-text p{
  color: white;
  font-size: inherit;
  
}
.recaptcha-text a{
  color: white;
  text-decoration: underline;
  font-size: inherit;

}

